.app{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    &__left{
        flex: 0.9;
        border: 1px solid #000;
    }
    &__right{
        border: 1px solid #000;
    }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__stats{
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }
     &__table{
         height: 400px;
         margin-top: 20px;
         overflow-y: scroll;
         color: #6a5d5d;
            >tr{
                display: flex;
                justify-content: space-between;
                >td{
                    padding: 0.5rem;
                }
            }
         >tr:nth-child(odd){
             background-color: #f3f2f8;
         }

        //  &--graph{
        //     width: 450px;
        //  }
     }
}